.header {
  position: relative;

  padding-bottom: 28px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);

  @media (max-width: $sl) {
    padding-bottom: 20px;
  }

  @media (max-width: $sm) {
    padding-bottom: 25px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 100%;

    background: url("../img/background/bc-header.png") center center no-repeat;
    background-size: 100%;
    // opacity: .4;

    @media (max-width: $sl) {
      background: url("../img/background/bc-header-mob.png") center center no-repeat;
      background-size: cover;
    }
  }
}

.header__top {
  position: relative;

  display: flex;
  max-width: 1360px;
  margin-bottom: 45px;
  padding-top: 36px;

  @media (max-width: $sl) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
  }

  @media (max-width: $sm) {
    margin-bottom: 0;
  }
}

.header__wrap-logo {
  position: absolute;
  top: 0;
  left: 20px;

  @media (max-width: $sl) {
    top: 113px;
    left: -65px;
  }

  @media (max-width: $lg) {
    top: 100px;
    left: -30px;
  }

  @media (max-width: $md) {
    top: 140px;
    left: 20px;
  }

  @media (max-width: $sm) {
    top: 60px;
    left: 0;
  }
}

.header__logo {
  width: 100%;
  height: auto;

  @media (max-width: $md) {
    width: 150px;
    height: auto;
  }

  @media (max-width: $sm) {
    width: 100%;
  }
}

.header__title {
  margin: 0;
  margin-right: 30px;
  padding-left: 242px;

  font-weight: 700;
  font-size: 70px;
  line-height: 1.05;
  font-family: $ff-main;
  text-align: center;
  font-style: italic;
  letter-spacing: .02em;
  text-shadow: 15px 1px 104px #fff, 1px 2px 4px rgba(25, 82, 178, .4);

  @media (max-width: $sl) {
    margin-right: 0;
    padding-left: 0;
  }

  @media (max-width: $lg) {
    font-size: 42px;
  }

  @media (max-width: $sm) {
    font-size: 24px;
  }
}

.header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 22px;
  margin-left: auto;

  @media (max-width: $sl) {
    align-items: center;
    margin-top: 55px;
    margin-left: 0;
  }

  @media (max-width: $sm) {
    margin-top: 22px;
  }
}

.header__social {
  margin-bottom: 28px;

  @media (max-width: $sm) {
    margin-bottom: 0;
  }
}

.header__phone {
  display: flex;
  flex-direction: column;

  @media (max-width: $sm) {
    display: none;
  }
}

.header__bottom {
  max-width: 1431px;

  @media (max-width: $lg) {
    max-width: 760px;
  }
}

.header__nav {
  @media (max-width: $sm) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;

    display: none;

    opacity: 1;

    &--active {
      display: block;

      // animation: .2s linear .1s forwards fadeIn;
    }
  }
}

.header__nav-list {
  @media (max-width: $sm) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    padding: 40px 32px 40px;

    background-color: #fff;
    transform: translate(0);
  }
}

.header__burger {
  display: none;

  @media (max-width: $sm) {
    position: absolute;
    right: 0;
    right: 18px;
    bottom: 0;
    bottom: 0;

    display: block;
    width: 28px;
    height: 24px;

    background: url(../img/icon/burger.svg) center center no-repeat;
  }
}

.header__btn-close {
  display: none;

  @media (max-width: $sm) {
    position: absolute;
    top: 20px;
    right: 12px;
    z-index: 100;

    display: block;
    width: 30px;
    height: 30px;

    background: url(../img/icon/close.svg) center center no-repeat;
  }
}
