.title-1 {
  margin: 0;

  font-weight: 700;
  font-size: 46px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: $c-blue;
  font-style: italic;

  @media (max-width: $lg) {
    font-size: 26px;
  }

  @media (max-width: $sm) {
    font-size: $fz-secondary;
  }
}

.title-2 {
  margin: 0;

  font-weight: 800;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: $c-white;
  font-style: normal;

  @media (max-width: $sm) {
    font-size: 12px;
    line-height: 1.1;
  }
}

.title-3 {
  margin: 0;
  margin-bottom: 35px;

  font-weight: 800;
  font-size: 46px;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: $c-secondary;
  font-style: normal;

  @media (max-width: $md) {
    font-size: 30px;
  }

  @media (max-width: $sm) {
    margin-bottom: 20px;

    font-size: $fz-main;
  }
}

.title-4 {
  margin: 0;
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  font-family: $ff-main;
  text-align: center;
  color: $c-secondary;
  font-style: normal;

  @media (max-width: $lg) {
    margin-bottom: 32px;

    font-size: $fz-main;
  }

  @media (max-width: $sm) {
    margin-bottom: 20px;

    font-size: $fz-secondary;
    text-align: left;
  }
}
