.about-us {
  margin-bottom: 80px;
}

.about-us__container {
  display: flex;
  flex-direction: column;
  // max-width: 670px;
}

.about-us__title {
  @media (max-width: $sm) {
    order: 0;
  }
}

.about-us__wrap-img {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;

  @media (max-width: $sm) {
    order: -1;
    margin-bottom: 40px;
  }
}

.about-us__desc {
  margin: 0 auto;

  @media (max-width: $sm) {
    order: 1;
  }
}

.about-us__desc-text {
  font-size: $fz-main;
  line-height: 1.37;
}

.about-us__desc-text br {
  display: block;

  @media (max-width: $sl) {
    display: none;
  }
}
