.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -8px;


  @media (max-width: $lg) {
    flex-wrap: wrap;
    max-width: 580px;
    margin: 0 auto;
  }

  @media (max-width: $sm) {
    margin: 0 -4px;
  }
}


.box__blue-card {
  display: flex;
  flex-direction: column;
  width: calc(100% / 4 - 16px);
  min-height: 356px;
  margin: 0 8px 16px;
  padding: 15px 14px 25px;

  background-color: $c-main;
  border-radius: 5px;

  transition: .2s;

  &:hover {
    text-decoration: none;

    box-shadow: 1px 2px 14px rgba(27, 58, 205, .85);
  }

  &--disabled {
    opacity: .5;
  }

  @media (max-width: $sl) {
    min-height: 300px;
  }

  @media (max-width: $lg) {
    width: calc(100% / 2 - 16px);
    min-height: 360px;
    margin-bottom: 40px;
  }

  @media (max-width: $sm) {
    width: calc(100% / 2 - 8px);
    min-height: auto;
    margin: 0 4px 20px;
    padding: 7px 7px 12px;
  }
}
