.fancybox-bg {
  background: $c-main;
}

.fancybox-is-open .fancybox-bg {
  opacity: .5;
}

@media all and (min-width: 800px) {
  .fancybox-thumbs {
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;

    box-sizing: border-box;
    width: auto;
    height: 95px;
    padding: 10px 10px 5px 10px;

    background: rgba(0, 0, 0, .3);
  }

  .fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
  }
}

.fancybox-thumbs__list a:before {
  border: 3px solid $c-accent;
}
