.help {
  margin: 81px 0;

  @media (max-width: $lg) {
    margin-top: 20px;
    margin-bottom: 70px;
  }

  &--sm {
    display: none;

    @media (max-width: $lg) {
      display: block;
    }
  }
}

.help__title {
  padding-bottom: 30px;

  @media (max-width: $lg) {
    padding-bottom: 22px;
  }
}

.help__title br {
  display: none;

  @media (max-width: $lg) {
    display: block;
  }
}

.help__wrap-link {
  display: flex;
  justify-content: center;
}
