.image-slider {
  margin: 70px 0 40px;
}

.image-slider .container {
  max-width: 1241px;

  @media (max-width: $sl) {
    max-width: 881px;
  }
}

.image-slider__slide.swiper-slide {
  // width: 290px;
}

.image-slider__wrap-img {
  display: flex;
  justify-content: center;
}
