.media {
}

.media__container {
  // max-width: 670px;
}

.media__title {
  margin-bottom: 35px;
}

.media__desc {
  margin-bottom: 80px;
}

.media__desc-title {
  margin-bottom: 35px;
}

.media__desc-text {
  line-height: 1.37;
}

.media__desc-text.text--border {
  cursor: pointer;

  &:hover {
    font-weight: 700;
    color: $c-main;
    text-decoration: none;

    border-bottom: 1px solid $c-main;
  }
}

.media__desc-text.text--bold-color {
  border-bottom: 1px solid $c-main;
  cursor: pointer;
}
