.media {
}

.media__container {
  // max-width: 670px;
}

.media__desc {
  margin-bottom: 80px;

  @media (max-width: $sm) {
    margin-bottom: 40px;
  }
}

.media__desc-text {
  line-height: 1.37;
}

.media__desc-text br {
  display: block;

  @media (max-width: $sl) {
    display: none;
  }
}

.media__desc-text.text--border {
  cursor: pointer;

  transition: .2s;

  &:hover {
    font-weight: 700;
    color: $c-main;
    text-decoration: none;

    border-bottom: 1px solid $c-main;
  }
}

.media__desc-text.text--bold-color {
  border-bottom: 1px solid $c-main;
  cursor: pointer;
}
