.nav {
}

.nav__list {
  display: flex;
  justify-content: center;
}

.nav__item {
  height: 24px;

  &:not(:last-child) {
    margin-right: 34px;
  }
}

.nav__link {
  font-weight: 500;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-main;

  &:hover {
    font-weight: 800;
    text-decoration: none;

    border-bottom: 2px solid $c-main;
  }
}
