.phone__link {
  font-weight: 500;
  font-size: 22px;
  font-family: $ff-main;
  text-align: right;
  color: $c-secondary;
  letter-spacing: .02em;

  transition: .2s;

  &:first-child {
    margin-bottom: 5px;
  }

  @media (max-width: $sm) {
    font-weight: 400;
    font-size: $fz-secondary;
    line-height: 2.1;
  }
}
