.price {
  display: flex;
  flex-direction: column;
}

.price__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;

  &:not(:last-child):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 25px;

    display: block;
    width: 1080px;
    height: .5px;

    background-color: $c-secondary;
  }
}

.price__desc {
  flex: 0 0 595px;
  margin: 0;
  margin-right: 155px;
  padding-top: 10px;
  padding-left: 15px;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  color: $c-secondary;
  font-style: normal;
}

.price__value {
  flex: 0 0 383px;
  margin: 0;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.1;
  font-family: $ff-main;
  text-align: center;
  color: $c-main;
  font-style: normal;
}
