.programs {
  margin: 82px 0 25px;

  @media (max-width: $sl) {
    margin-top: 80px;
    margin-bottom: 0;
  }

  @media (max-width: $lg) {
    margin-top: 20px;
  }
}

.programs__wrapper {
  // @media (max-width: $sl) {
  //   max-width: 580px;
  //   margin: 0 auto;
  // }
}

.programs__link {
}

.programs__img {
  margin: 0 auto 20px;

  @media (max-width: $lg) {
    margin-bottom: 10px;
  }
}

.programs__title br {
  display: none;

  @media (max-width: $lg) {
    display: block;
  }
}
