.reviews {
  margin-bottom: 80px;
}

.reviews__title {
  margin-bottom: 52px;
}

.reviews-slider__wrapper {
  margin-bottom: 113px;
  padding-top: 30px;
}

.reviews-slider__slide.swiper-slide {
  transform: scale(1);

  transition: .2s;
}

.reviews-slider__slide.swiper-slide-active {
  position: relative;
  z-index: 100;

  transform: scale(1.3);
}

.reviews-slider__wrapper {
  box-shadow: 1px 2px 14px rgba(27, 58, 205, .85);
}
