.reviews {
  margin-bottom: 32px;

  @media (max-width: $sl) {
    margin-bottom: 67px;
  }

  @media (max-width: $lg) {
    margin-bottom: 35px;
  }
}

.reviews .container {
}

.reviews__title {
  margin-bottom: 52px;

  @media (max-width: $lg) {
    margin-bottom: 17px;
  }
}

.reviews-slider__wrapper {
  margin-bottom: 113px;
  padding-top: 30px;
}

.reviews-slider__slide.swiper-slide {
  padding-top: 20px;

  transform: scale(1);

  transition: .2s;

  @media (max-width: $lg) {
  }
}

.reviews-slider__slide.swiper-slide-active {
  position: relative;
  z-index: 100;

  transform: scale(1.2);

  @media (max-width: $lg) {
    transform: scale(2);
  }
}

.reviews-slider__wrap-img {
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(27, 58, 205, .85);
}

.reviews-slider__wrap-img img {
  border-radius: 10px;
}
