.rules {
  margin-bottom: 130px;
}

.rules__wrap-img {
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.rules__title {
  margin-bottom: 40px;
}

.rules__desc {
  max-width: 582px;
  margin: 0 auto;
}
