.search {
  position: relative;

  display: flex;
  justify-content: center;

  &--sm {
    display: none;

    @media (max-width: $sm) {
      display: flex;
      margin-top: 40px;
    }
  }

  &--lg {
    display: flex;

    @media (max-width: $sl) {
      display: flex;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }
}

.search__input {
  max-width: 264px;
  padding: 5px 10px 6px 45px;

  border: 1px solid $c-black;
  border-radius: 30px;

  @media (max-width: $sm) {
    min-width: 284px;
    padding: 3px 10px 4px 32px;
  }

  &:hover,
  &:focus {
    border-color: $c-secondary;
    outline: none;
  }
}

.search__input::placeholder {
  font-weight: 500;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  color: $c-secondary;
  font-style: normal;
  letter-spacing: .02em;

  @media (max-width: $sm) {
    font-size: $fz-secondary;
  }
}
