
.services-desc {
  position: relative;
  top: -8px;

  // flex: 0 0 560px;
}

.services-desc__title {
  margin-bottom: 32px;
}

.services-desc__text {
  &--link {
    font-weight: 500;
    font-size: 16px;
    line-height: .9;
    font-family: $ff-main;
    color: $c-secondary;
    font-style: normal;

    border-bottom: 1px solid $c-secondary;

    transition: .2s;

    @media (max-width: $lg) {
      font-size: 12px;
    }

    &:hover {
      text-decoration: none;
    }
  }
}

.services-desc__text br {
  display: block;

  @media (max-width: $lg) {
    display: none;
  }
}
