.services {
}

.services__title {
  padding-bottom: 65px;
}

.services__wrapper {
  display: flex;
  justify-content: center;
}

.services__link {
  padding: 15px 14px 25px;

  background-color: $c-main;
  border-radius: 10px;

  &:not(:last-child) {
    margin-right: 17px;
  }

  &:hover {
    text-decoration: none;

    box-shadow: 1px 2px 14px rgba(27, 58, 205, .85);
  }
}
