.services {
  margin-bottom: 30px;
}

.services__title {
  margin-bottom: 63px;

  @media (max-width: $sm) {
    margin-bottom: 29px;
  }
}

.services__wrapper.box {
}

.services__link.box__blue-card {
  position: relative;

  min-height: auto;
  margin-bottom: 97px;
  padding: 31% 0 0;

  @media (max-width: $lg) {
    padding-top: 62%;
  }

  @media (max-width: $sm) {
    margin-bottom: 65px;
  }
}

.services__picture {
  position: absolute;
  top: 0;
  right: -18px;
  left: -18px;

  height: 100%;

  @media (max-width: $md) {
    right: -9px;
    left: -9px;
  }
}

.services__img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.services__name {
  position: absolute;
  top: calc(100% + 20px);

  width: 100%;

  text-align: center;
  color: $c-main;
}

.services__name br {
  display: none;

  @media (max-width: $sm) {
    display: block;
  }
}
