
.services-desc {
  position: relative;
  top: -8px;

  flex: 0 0 560px;
}

.services-desc__title {
  margin-bottom: 32px;
}

.services-desc__text {
  margin: 0;

  font-weight: 500;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  color: $c-secondary;
  font-style: normal;

  &--sm {
    margin-top: 15px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    font-family: $ff-main;
    color: $c-secondary;
    font-style: normal;
  }

  &--bold {
    font-weight: 700;
    font-size: $fz-main;
    line-height: 1.1;
    font-family: $ff-main;
    color: $c-secondary;
    font-style: normal;
  }

  &--link {
    font-weight: 500;
    font-size: 16px;
    line-height: .9;
    font-family: $ff-main;
    color: $c-secondary;
    font-style: normal;

    border-bottom: 1px solid $c-secondary;

    transition: .2s;

    &:hover {
      text-decoration: none;
    }
  }
}
