.show {
}

.show__title {
  margin-bottom: 40px;

  @media (max-width: $md) {
    margin-bottom: 20px;
  }
}

.show__container {
  max-width: 1241px;

  @media (max-width: $md) {
    padding: 0;
  }
}

.show__wrapper {
  display: flex;

  @media (max-width: $md) {
    flex-direction: column;
  }
}

.show__left {
  flex: 0 0 50%;
  margin-right: 40px;

  @media (max-width: $md) {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.show__wrap-img {
  min-width: 581px;
  margin-bottom: 40px;

  @media (max-width: $sl) {
    min-width: 50%;
  }

  @media (max-width: $md) {
    min-width: 100%;
    margin-bottom: 20px;
  }
}

.show__card {
  margin-bottom: 80px;
}

.show__card-title {
  margin-bottom: 40px;

  @media (max-width: $sm) {
  }
}

.show__card-title br {
  display: none;

  @media (max-width: $sm) {
    display: block;
  }
}

.show__right {
  flex: 0 0 560px;

  @media (max-width: $sl) {
    flex-basis: calc(50% - 40px);
  }

  @media (max-width: $sm) {
    flex-basis: 100%;
    padding: 0 17px;
  }
}

.show__wrap-btn {
  display: none;

  @media (max-width: $sm) {
    display: flex;
    justify-content: center;
  }
}
