.social {
  display: flex;
  justify-content: space-between;

  @media (max-width: $sm) {
    justify-content: center;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: $c-white;
  border: 1px solid $c-main;
  border-radius: 8px;

  &:not(:last-child) {
    margin-right: 17px;
  }

  @media (max-width: $sm) {
    width: 28px;
    height: 28px;
  }



  &:hover svg {
    fill: $c-white;
  }

  &--vb {
    &:hover {
      background-color: #8f5db7;
      border-color: #8f5db7;
    }
  }

  &--tg {
    &:hover {
      background-color: #08c;
      border-color: #08c;
    }
  }

  &--wh {
    &:hover {
      background-color: $c-green;
      border-color: $c-green;
    }
  }

  &--vk {
    &:hover {
      background-color: #597da3;
      border-color: #597da3;
    }
  }

  &--yt {
    &:hover {
      background-color: #c4302b;
      border-color: #c4302b;
    }
  }

  &--fb {
    &:hover {
      background-color: #3b5998;
      border-color: #3b5998;
    }
  }

  &--inst {
    &:hover {
      background-color: #3f729b;
      border-color: #3f729b;
    }
  }
}

.social__link svg {
  width: 19px;
  height: 19px;

  fill: $c-main;
}
