.social {
  display: flex;
  justify-content: space-between;

  @media (max-width: $lg) {
    justify-content: center;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: $c-white;
  border: 1px solid $c-main;
  border-radius: 8px;

  &:not(:last-child) {
    margin-right: 17px;
  }

  @media (max-width: $lg) {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background-color: $c-green;
    border-color: $c-green;
  }

  &:hover svg {
    fill: $c-white;
  }
}

.social__link svg {
  width: 19px;
  height: 19px;

  fill: $c-main;
}
