.text {
  margin: 0;

  font-weight: 400;
  font-size: $fz-main;
  line-height: 1.3;
  font-family: $ff-main;
  color: $c-secondary;
  font-style: normal;

  @media (max-width: $sm) {
    font-size: 12px;
  }

  &--sm {
    margin-top: 15px;

    font-weight: 400;
    font-size: $fz-secondary;
    line-height: 1.4;
    font-family: $ff-main;
    color: $c-secondary;
    font-style: normal;
  }

  &--medium {
    font-weight: 500;
  }

  &--semi {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
    font-size: $fz-main;
    line-height: 1.5;

    @media (max-width: $sm) {
      font-size: 12px;
    }
  }

  &--bold-color {
    font-weight: 700;
    color: $c-main;
  }

  &--border {
    border-bottom: 1px solid $c-secondary;
  }
}
