.tour {
  margin-bottom: 80px;
}

.tour__title {
  margin-bottom: 32px;
}

.tour__desc-title {
  margin-bottom: 30px;
}

.tour__desc-wrap {
  // max-width: 764px;
  margin: 0 auto 35px;

  @media (max-width: $sl) {
    // max-width: 804px;
  }
}

.tour__desc-text {
  font-size: $fz-main;
  line-height: 1.37;
}

.tour__desc-text br {
  @media (max-width: $sl) {
    display: none;
  }
}
