.video-slider {
  margin-bottom: 80px;
}

.video-slider .container {
  max-width: 921px;
}

.video-slider__wrap-video {
  display: flex;
  justify-content: center;
}

.video-slider__wrap-video iframe {
  border: none;
}

.video-slider__btn-prev,
.video-slider__btn-next {
  &::after {
    color: $c-white;
  }

  &::before {
    background-color: $c-main;
  }

  &:hover {
    &::before {
      opacity: .5;
    }

    &::after {
      color: $c-white;
    }
  }
}
