.btn {
  min-width: 264px;
  padding: 18px 47px;

  font-weight: 500;
  font-size: $fz-main;
  line-height: 1.2;
  font-family: $ff-main;
  text-align: center;
  color: $c-black;
  letter-spacing: .02em;

  background-color: $c-accent;
  border-radius: 30px;

  @media (max-width: $lg) {
    min-width: 284px;
    padding: 12px 47px;

    font-weight: 400;
    font-size: $fz-secondary;
  }

  &:hover {
    color: $c-secondary;
    text-decoration: none;
  }
}
